.clearfix {
    overflow: auto;
}

body {
  background-color: #283959;
  background-image: url("http://orig06.deviantart.net/2de1/f/2008/244/c/e/matrix_code_by_big_bohn.png");
    -webkit-animation:200s scroll infinite linear;
    animation:200s scroll infinite linear;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0.9;

}
